:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  /* background-color: yellow; */
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 2rem;
  border-bottom: 1px solid black;
  color: black;
}

.head a {
  color: black;
}

a {
  text-decoration: none;
}

.head nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: black;
}

.home-container {
  background-color: red;
  height: 86vh;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(57, 54, 54, 0.46),
      rgba(66, 62, 62, 0.46)
    ),
    url("./images/home-hero.png") no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.home-container button {
  background-color: rgb(200, 134, 13);
  border: none;
  height: 4rem;
  width: 40rem;
  font-size: 1.7rem;
  border-radius: 10px;
  cursor: pointer;
}

/* ---------------------about page---------------------- */

.about-page-container {
  height: 100%;
  width: 100%;
}

.about-page-container img {
  width: 100%;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
  padding: 3rem;
  color: black;
}

.about-page-cta {
  background-color: rgb(188, 150, 101);
  /* width: 100%; */
  height: 50vh;
  margin: 0 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  color: black;
  font-size: 2rem;
}

.about-page-cta button {
  background-color: black;
  border: none;
  height: 4rem;
  width: 40rem;
  font-size: 1.7rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

/* -------------------------------Vans page css---------------------- */

.Vans-container {
  background-color: white;
  /* height: 100vh; */
  width: 100%;
  color: black;
}

.filter-component {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin: 2rem 0;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filters button {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}

.filters p {
  text-decoration: underline;
  cursor: pointer;
}

.van-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* background-color: red; */
  margin: 2rem;
  width: 40vw;
}

.van-component img {
  height: 50vh;
  border-radius: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
  color: black;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.3rem;
}

.left h1 {
  font-size: 1.2rem;
}

.bottom button {
  height: 2.4rem;
  background-color: orange;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.right {
  height: 12vh;
  font-weight: 600;
}

.tili {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between items */
}

/* ------------------van detail page ------------------ */
.van-detail-container {
  height: 100vh;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.van-detail {
  height: 110%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
}

.van-detail img {
  height: 50vh;
  border-radius: 20px;
}

.van-type {
  background-color: green;
  height: 5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.van-price {
  font-size: 1.5rem;
}

.van-detail button {
  background-color: orange;
  height: 7rem;
  width: 80%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4rem;
}

/* ------------------------hostlayout------------------------------ */

.second-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem 0;
  color: black;
}

.second-nav a {
  color: black;
}

.host-layout {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-bottom: 2rem;
  height: 100%;
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.sec-host-van {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.host-van-single {
  border-bottom: 1px solid black;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-bottom: 1rem;
  gap: 20rem;
  background-color: beige;
  border-radius: 10px;
  padding: 2rem;
}

.host-van-single img {
  height: 10rem;
  border-radius: 15px;
}

.host-vans-list a {
  color: black;
}

.host-vans-list {
  padding: 2rem;
}

.host-van-detail-layout-container {
  /* height: 100vh; */
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #aaaaaa;
  margin: 20px;
  border-radius: 20px;
}

.blah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  color: black;
  gap: 2rem;
}

.blah a {
  color: #161616;
}

.host-van-detail-layout-container img {
  height: 40vh;
  border-radius: 10px;
}

.host-van-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #aaaaaa;
  border-radius: 20px;
  padding: 30px;
}

.host-van-detail-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tma {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.vn-t {
  background-color: rgba(141, 223, 223, 0.616);
  border: none;
  border-radius: 10px;
  color: black;
}

.selected {
  background-color: orange;
}

.wilu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  margin: 0 10px;
  gap: 2rem;
}

.wilu a {
  color: black;
  text-decoration: underline;
  text-indent: 1rem;
}

.p404 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 50vh;
  font-size: 3rem;
  margin-top: 2rem;
}

.p404 button {
  border: none;
  padding: 2rem;
  border-radius: 10px;
  font-size: 20px;
  background-color: #aaaaaa;
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  color: black;
}

.login-container h1 {
  margin: 2rem 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 0.2rem;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 60px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > input:focus {
  outline: none;
}

.login-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 40px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}
